asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==5.2.13
dotenv==0.9.9
idna==3.18
pillow==12.2.0
py==1.11.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stripe==15.2.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
