
{% extends 'home.html' %}
{% load static %}

{% block title %} <title>Создание теста</title>  {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}
<div class="test-creaion">
    
    <form id="test_form" action="" method="post">
        <a class="back-link" href="{{request.META.HTTP_REFERER}}">Back</a>

        {% csrf_token %}
        <label for="title">Название теста</label>
        <input class="title" type="text" name="title" id="title" required>
    {% for i in numbers %}
        <div class="answer">
            <label for="{{i}}">Вопрос {{i}}</label>
            <input type="text" name="{{i}}" id="{{i}}" required>
            <p>Варианты Ответов для вопроса {{i}}</p>
            {% for b in numbers2 %}
            <div class="answer-row">
                <input class="answers" type="text" name="answer_{{i}}" id="" required>
                <label class="radio-label">
                <input type="radio" name="right_{{i}}" value="{{b}}" required>
                Правильный ответ
                </label>
            </div>
           
            {% endfor %}
        </div>
    {% endfor %}
        <button>Создать Тест</button>
    </form>
</div>
{% endblock %}
