
{% extends 'home.html' %}
{% load static %}

{% block title %} <title>My courses</title>  {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}
<div class="update-test-box">


    <form class="update-test" action="" method="post">
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
        <input type="text" name="title" id="" value="{{ test.title }}">Название теста
        {% csrf_token %}
       {% for question in test.data %}
    <div class="update-answer">
        <label for="{{ forloop.counter }}">Вопрос {{ forloop.counter }}</label>
        <input type="text"
               name="{{ forloop.counter }}"
               value="{{ question.question }}">

        <p>Варианты ответов</p>

        {% for answer in question.answers %}
        <div class="update-row">
            <input type="text"
                   name="answer_{{ forloop.parentloop.counter }}"
                   value="{{ answer }}">
            <label class="radio-update">
                <input type="radio"
                   name="right_{{ forloop.parentloop.counter }}"
                   value="{{ forloop.counter }}"
                   {% if question.right == forloop.counter %}checked{% endif %}>
            Правильный ответ
            </label>
        </div>
        {% endfor %}
    </div>
{% endfor %}
        <button>Перезаписать Тест</button>
    </form>
</div>
        
{% endblock %}
